@import 'utility';

.featured-product-image {
  width: 200px;
}
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#featured-products {
  color: $primary-color;
  display: flex;
  justify-content: center;

  div {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffffaa;
    margin-top: 25px;
    border-radius: 5px;
    padding: 15px;
    font-family: $font-primary;

    @media only screen and (max-width: 800px) {
      width: 100%;
      max-width: none;
      margin: 25px;
    }

    img {
      border-radius: 5px;
    }
  }
}
