$primary-color: #0517e8;
$secondary-color: #b32271;

$font-primary: 'Noto Sans JP', sans-serif;
$font-secondary: 'Roboto', sans-serif;

body {
  background-color: #efefef;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  @media only screen and (max-width: 800px) {
    flex-direction: column;
    align-items: center;
  }

  a {
    display: inline;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: $font-secondary;
    color: $secondary-color;
    width: 100px;
    transition: 0.5s;
    text-align: center;

    &:hover {
      text-decoration: underline;
    }
  }
}
